@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Bilbo');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

h1
{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;

}

h2 
{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
}

h3
{
  font-family: 'Dancing Script', cursive;
  font-size: 60px;
  text-align: center;
}

p
{
  font-family: 'Bilbo', cursive;
  font-size: 25px;
  
}

#qmark {
  width: 2em;
  height: 2em;
}

.lillenum {
  width: 50%;
  padding: 1%;
}

#border-right {
  border-right: 1px solid #e6e6e6;
}

body {
  background-image: url(image/bg_light.png)
}

.imgpole{
    width: 30%;
}

.pole{
    border: 1px solid black;
    width: 70em;
}

.nav-link
{
  text-align: center;
  margin-right: 10px;
  margin-left: 15px;
  width: 180px;
  font-weight: bold;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
}

.navbar-brand
{
  font-family: 'Dancing Script', cursive;
  font-size: 20px;
}



#photonum {
  width: 20%;
  display: flex;
  flex-direction: right;
}

#polenum {
  width: 20%;
  display: flex;
  flex-direction: right;
}
/* Parallax */
#plx {
  background: url(image/bann.png);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}

.wtitle {
  padding: 11%;
  /* height: 50%; */
}
.titleHeader {
  height: 50px;
}