@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
@import url('https://fonts.googleapis.com/css?family=Thasadith');
h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

h2 {
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
  text-align: center;
}

h3 {
  font-family: 'Thasadith', sans-serif;
  font-size: 35px;
  text-align: center;
}

p {
  font-family: 'Thasadith', sans-serif;
  font-size: 20px;
}

section {
  padding-top: 84px;
}

#qmark {
  width: 2em;
  height: 2em;
}

#photonum {
  width: 150%;
}

#polenum {
  width: 150%;
}

#border-right {
  border-right: 1px solid #e6e6e6;
}

#collaboators img {
  width: 160px;
  height: 160px;
}

body {
  background-image: url(image/bg_light.png)
}

.imgpole {
  width: 30%;
}

#pole {
  border: 1px solid black;
  width: 70em;
}

.pole {
  text-align: justify;
}
.navbar {
  font-family: 'Thasadith', sans-serif;
  font-size: 1.5em;
}

.card-title
{
  color: #800000;
  font-family: cursive; 
  font-size: 30px;
  text-align: center;
}

.color {
  background-color: ghostwhite
  
}
.col-sm-4
{
  border: 10px solid transparent;
  margin-bottom: 25px;
  width: 80%;
  height: 80%;

}

em, strong
{
  font-size: 30px;
  
}

footer {
background-color: #2d2d30;
color: #f5f5f5;
padding: 11px
}

footer a {
color: #f5f5f5;
}

footer a:hover {
color: #777;
text-decoration: none;
}
/* Parallax */
#plx {
  background: url(image/bann.png);
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
}
.wtitle {
  padding: 11%;
}

.bg_dark {
  background-color: #2d2d30;
  color : white
}